@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.YearValue</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <table id="year-planner">
        @foreach (var month in Model.Year.Months)
        {
            var leftOffset = Model.DayOffsets.LeftOffsets.First(x => x.Key == month.Value).Value;
            var rightOffset = Model.DayOffsets.RightOffsets.First(x => x.Key == month.Value).Value;
            
            <tr>
                @for (int i = 0; i < leftOffset; i++)
                {
                    <td>&nbsp;</td>
                }
                @foreach (var day in month.Days)
                {
                    <td>@day.Value</td>
                }
            </tr>
        }
    </table>

</div>